In [14]:
import pandas as pd

# Read the Excel file into a DataFrame
input_file = 'Input_Katz_Alumni_Emails_for_Newsletter.xlsx'  
df = pd.read_excel(input_file)

# Create a list to store the transformed data
transformed_data = []

# Iterate through each row in the DataFrame
for _, row in df.iterrows():
    bannerid = row['Banner ID']
    LName = row['LName']
    FName = row['FName']
#     email = row['email']
#     preferred = row['preferred']
#     email_1 = row['email_1']
#     email_2 = row['email_2']
#     email_3 = row['email_3']
    
    # Extract email addresses and add them as separate rows
    for email_col in ['email', 'preferred', 'email_1', 'email_2', 'email_3']:
        email = row[email_col]
        transformed_data.append([bannerid, LName, FName, email, preferred, email_1, email_2, email_3])

# Create a new DataFrame with the transformed data
output_df = pd.DataFrame(transformed_data, columns=['bannerid', 'LName', 'FName', 'Email'])

# # Save the transformed data to a new Excel file
# output_file = 'output_file.xlsx'  # Replace with your desired output file path
# output_df.to_excel(output_file, index=False)

# print("Data transformation complete. Output saved to", output_file)

# Save the transformed data to a new Excel file
output_file = 'Output_Katz_Alumni_Emails_for_Newsletter.xlsx'  # Replace with your desired output file path
try:
    output_df.to_excel(output_file, index=False)
    print("Data transformation complete. Output saved to", output_file)
except PermissionError:
    print("Error: Permission denied when trying to save the output file.")
    exit(1)
except Exception as e:
    print("An error occurred while saving the output file:", e)
    exit(1)

ValueError: 4 columns passed, passed data had 8 columns

In [4]:
output_df

    bannerid first name last name                     Email
0  800756561     Ankit   Aggarwal      aaggarwa@mail.yu.edu
1  800756561     Ankit   Aggarwal  ankit.agg.2008@gmail.com
2  800756561     Ankit   Aggarwal  ankit.agg.2010@gmail.com
3  800756560        Sai    Nikhil               Sai@abc.com
4  800756560        Sai    Nikhil               Sai@xyz.com
5  800756560        Sai    Nikhil               Sai@klm.com
6  800754323        Abc       Def               Abc@def.com
7  800754323        Abc       Def             abc@gmail.com
8  800754323        Abc       Def                       NaN

In [7]:
import os
print("Current working directory:", os.getcwd())

Current working directory: C:\AKA\Backup Dell Laptop\D Drive\YU\Semester 2\Neural Network\DLNN

In [15]:
import pandas as pd

# Read the Excel file into a DataFrame
input_file = 'Input_Katz_Alumni_Emails_for_Newsletter.xlsx'
df = pd.read_excel(input_file)

# Create a list to store the transformed data
transformed_data = []

# Iterate through each row in the DataFrame
for _, row in df.iterrows():
    bannerid = row['Banner ID']
    LName = row['LName']
    FName = row['FName']

    # Extract email addresses and add them as separate rows
    for email_col in ['email', 'preferred', 'email_1', 'email_2', 'email_3']:
        email = row[email_col]
        transformed_data.append([bannerid, LName, FName, email])

# Create a new DataFrame with the transformed data
output_df = pd.DataFrame(transformed_data, columns=['bannerid', 'LName', 'FName', 'Email'])

# Save the transformed data to a new Excel file
output_file = 'Output_Katz_Alumni_Emails_for_Newsletter.xlsx'  # Replace with your desired output file path
output_df.to_excel(output_file, index=False)

print("Data transformation complete. Output saved to", output_file)

Data transformation complete. Output saved to Output_Katz_Alumni_Emails_for_Newsletter.xlsx